@import "theme";

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $theme-primary-container;
  padding: 8px;
  max-width: 60em;
  margin: 8px;


  .status {
    cursor: pointer;
    font-size: 1.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .name {
      font-weight: 600;
    }
    div {
      max-width: 35em;
      max-height: 18.4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.complete {
  .name {
    text-decoration: line-through;
  }
  .description {
    text-decoration: line-through;
  }
}