$theme-primary: #a23e21;
$theme-on-primary: #ffffff;
$theme-primary-container: #ffdbd1;
$theme-on-primary-container: #3b0900;
$theme-secondary: #77574e;
$theme-on-secondary: #ffffff;
$theme-secondary-container: #ffdbd1;
$theme-on-secondary-container: #2c150f;
$theme-tertiary: #6c5d2f;
$theme-on-tertiary: #ffffff;
$theme-tertiary-container: #f6e1a6;
$theme-on-tertiary-container: #231b00;
$theme-error: #ba1a1a;
$theme-error-container: #ffdad6;
$theme-on-error: #ffffff;
$theme-on-error-container: #410002;
$theme-background: #fffbff;
$theme-on-background: #201a19;
$theme-surface: #fffbff;
$theme-on-surface: #201a19;
$theme-surface-variant: #f5ded8;
$theme-on-surface-variant: #53433f;
$theme-outline: #85736e;
$theme-inverse-on-surface: #fbeeeb;
$theme-inverse-surface: #362f2d;
$theme-inverse-primary: #ffb5a0;
$theme-shadow: #000000;
$theme-surface-tint: #a23e21;
$theme-outline-variant: #d8c2bc;
$theme-scrim: #000000;

@media (prefers-color-scheme: dark) {
  $theme-primary: #ffb5a0;
  $theme-on-primary: #601400;
  $theme-primary-container: #82270b;
  $theme-on-primary-container: #ffdbd1;
  $theme-secondary: #e7bdb2;
  $theme-on-secondary: #442a22;
  $theme-secondary-container: #5d4038;
  $theme-on-secondary-container: #ffdbd1;
  $theme-tertiary: #d9c58d;
  $theme-on-tertiary: #3b2f05;
  $theme-tertiary-container: #534619;
  $theme-on-tertiary-container: #f6e1a6;
  $theme-error: #ffb4ab;
  $theme-error-container: #93000a;
  $theme-on-error: #690005;
  $theme-on-error-container: #ffdad6;
  $theme-background: #201a19;
  $theme-on-background: #ede0dd;
  $theme-surface: #201a19;
  $theme-on-surface: #ede0dd;
  $theme-surface-variant: #53433f;
  $theme-on-surface-variant: #d8c2bc;
  $theme-outline: #a08c87;
  $theme-inverse-on-surface: #201a19;
  $theme-inverse-surface: #ede0dd;
  $theme-inverse-primary: #a23e21;
  $theme-shadow: #000000;
  $theme-surface-tint: #ffb5a0;
  $theme-outline-variant: #53433f;
  $theme-scrim: #000000;
}